<!DOCTYPE html>
<html lang="en">
  <head>
    <title>33</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <%- include public/header.ejs%>
  <div><%=title%></div>
  <img src="imgs/1.gif" alt="动次打次">
  </body>
</html>